extends layout

block content
  h1.display-2.mb-3= title
  div.d-flex.justify-content-end.gap-2
    a.btn.btn-secondary(
      type= button
      href= "docs/new"
    )= "Ajouter une référence"
  each year in Object.keys(docs)
    h2= year
      ul.list-group.list-group-flush.mt-3
        each doc in docs[year]
          li.list-group-item= doc.ref
